@font-face {
  font-family: "Wattauchimma";
  font-weight: 400;
  font-size: 68px;
  src: url("../fonts/Wattauchimma.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  src: url("../fonts/Montserrat-Italic-VariableFont_wght.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {

  flex-grow: 1;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #39555b 0%, #79b4c1 100%);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.page-section {
  flex-grow: 1;
  background-image: url(../img/glav/torniki.png);
  background-size: contain;
  background-position: 100% bottom;
  background-repeat: no-repeat;
  max-width: 1296px;
  margin: 0 auto;
}



header {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
  position: relative;
  z-index: 1;
  padding-top: 24px;
}

.page-heder__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  list-style: none;
  margin-left: auto;
  display: flex;
  gap: 16px;
}

.navigation-link {
  color: #ffffff;
  text-decoration: none;
  border-left: 1px solid #ffffff;
  padding-left: 8px;
  display: block;
}

.navigation-link:hover {
  color: aqua;
  border-color: aqua;
}

/* главная */

.main-page__content {
  padding-top: 178px;
  padding-bottom: 178px;
}



.section-text {
  font-family: "Wattauchimma";
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  /* height: 102px; */
  border-radius: 14px;
  gap: 10px;
  max-width: 811px;
  background: #94acb1;
  margin: 8px;
  padding: 8px 16px;
}

.section-subtitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  max-width: 700px;

  max-width: 698px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 16px;
}

.container {
  max-width: 1296px;
  margin: auto;
}

.container-muvis {
  max-width: 1296px;
  margin: auto;
}

/*фильмы*/
.product h1 {
  font-family: "Wattauchimma";
  font-weight: 400;
  font-size: 68px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 48px;
  padding-bottom: 32px;
}

.product-card-image {
  width: 100%;
  aspect-ratio: 416 / 416;
  height: auto;
}

.product-card-image-muv {
  width: 100%;
  aspect-ratio: 416 / 623;
  height: auto;
}

.product-list {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 4%;
  text-align: center;
  color: #ffffff;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.product-list-music {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 4%;
  text-align: center;
  color: #ffffff;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  top: 457px;
  left: 72px;
  gap: 10px;
  padding-top: 12px;
  padding-right: 64px;
  padding-bottom: 12px;
  padding-left: 64px;
  border-radius: 24px;
  box-shadow: 0px 0px 24px 0px #80e8ff80;
  background: #80e8ff;
  border: none;
  cursor: pointer;


}

.product {
  width: 100%;
  margin-bottom: 32px;
}

.button-mu {
  margin: auto;
  margin-top: 32px;
  display: block;
  border: none;
  cursor: pointer;

}

button:hover {
  color: #a00c0c;
}

/*подвал*/
footer {
  margin: 0;
  padding: 16px 0;
  border-top: 2px;
  background: rgba(100, 149, 159, 1);
  position: relative;
  z-index: 1;
  border-top: 2px solid #ffffff;
}

.page-footer__container {
  display: grid;
  grid-template-columns: 1fr minmax(400px, 750px) 1fr;
  align-items: center;
}

.footer-social-list {
  display: flex;
  list-style: none;
  gap: 8px;
  align-items: center;
}

.page-footer__center {
  text-align: center;
  color: #ffffff;
}

.page-footer__center p {
  margin: 0;
}

.div-footer {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.footer-p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: #ffffff;
}

.footer-p:hover {
  color: aqua;
}

.button-footer {
  display: inline-block;
  transition: transform 0.3s;
}

.button-footer:hover {
  transform: scale(1.1);
}

.button-footer {
  transition: fill 0.3s;
}

.burger-menu {

  width: 36px;
  height: 36px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-between;
  padding: 9px 4.5px;
}

.burger-menu span {
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;

}





/*мобильная версия */
@media (max-width: 360px) {
  .hidden {
    display: none;
}
.navigation-list {
  flex-direction: column; 
  position: absolute; 
  top: 60px; 
  left: 0; 
  background: linear-gradient(111.34deg, #39555B 0%, #79B4C1 100%);
  ; 
  width: 100%; 
  z-index: 1000; 
  padding-left: 0; 
  margin-top: 0; 
  border-top: 1px solid #444; 
}

.navigation-item {
  margin-left: 0; 
  padding: 10px; 
  text-align: center; 
}




  .burger-menu {
    display: flex;
  }

  .page-heder__content {
    padding: 12px 12px;
  }

  .footer-social-list {
    display: none;
  }

  footer {
    width: 100%;

    bottom: 0;
    left: 0;
  }

  .div-footer {

    font-family: Montserrat;
    font-weight: 500px;
    font-size: 12px;
  }

  .move-footer {
    display: block;
  }

  .muvis-t {
    display: block;
  }


  .footer-p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;

  }




  .product-list-music {
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: 600px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 4%;
    text-align: center;


  }

  .product-list {
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: 600px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 4%;
    text-align: center;

  }



  .product h1 {
    font-family: Wattauchimma;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .section-text {
    font-family: Wattauchimma;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0px;
  }

  .section-subtitle {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }

  .button {
    display: block;
    margin: 0 auto;
    width: 336px;
    height: 27px;
    padding-top: 6px;
    padding-right: 32px;
    padding-bottom: 6px;
    padding-left: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .button-mu {
    width: 336px;
    height: 27px;
    padding-top: 6px;
    padding-right: 32px;
    padding-bottom: 6px;
    padding-left: 32px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

  .page-footer__container {
    grid-template-columns: 1fr;
  }

  .page-section {
    flex-grow: 1;
    background-image: url(../img/glav/torniki.png);
    background-size: contain;
    background-position: 100% bottom;
    background-repeat: no-repeat;
    background-size: 242px 321px;
    background-position: center top;
    max-width: 1296px;
    margin: 0 auto;
  }

  .main-page__content {
    padding: 282px 0 0 0;
  }

  .hidden {
    display: none;

  }
}